li{
    display:inline;

}
.transparent_nav{
    background: rgba(250, 0, 0, 0.7);
   position: fixed;
   top: 0;
    width: 100%;
}
a{

    text-decoration: none;
    padding:22px;
}

.nav_bar{
    margin-right: 70px;
    float: right;
}
img{
    margin-left: 85px;
}

.cta{
    padding: 11px;
    padding-top: 29px;
    position: static;
    top:300px;
    background-color: rgba(160,160,169,0.7);
}

#cta_link{
    position: relative;
    margin-left: 1099px;
    bottom: 16px;
}
p{
    color: white;
    font-size: 18px;
}
a#cta_link:hover{
    background-color: skyblue;
}

.service_wrapper{
    margin-top: 300px;
    
}
.flex{
    display: flex;
    
    width: 55%;

}

.flex1{
    display:flex;
    
    
}

div{
    padding: 30px;
}

.img_1{
    margin-top:15px;
    margin-left: 12px;
}

.img_2{
    margin-top:15px;
    margin-left: 18px;

}

.img_3{
    margin-top:15px;
    margin-left: 12px;
}

.work1{
    margin-left: 150px;
}

.work2{
    margin-left: -3px;
}

.work3{
    margin-left: -4px;
}

.work4{
    margin-left:-4px;
}

.work5{
    margin-left: -5px;
}



/*hovering of image*/
.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

    .testimonials{
        display:flex;
        flex-direction: column;
    }

    .client1{
        border-left: 10px solid darkblue;
        background-color: lightskyblue;
    }

    .client2{
        border-left: 10px solid darkblue;
        background-color: lightskyblue;
    }

    .client3{
        border-left: 10px solid darkblue;
        background-color: lightskyblue;
    }

    .footer_widget{
display: flex;
background-color: grey;
justify-content: space-evenly;
margin-left: 0px;
flex-wrap: wrap;


    }
    

    p{
        line-height: 1;
    }

    ul{
        line-height: 1.5;
    }

    .rights{
        
        flex-basis: 100%;
       /* height: 0;*/
        margin-left: 500px;
        margin-top: 30px;  
        font-size: 15px; 
    }
    
    body{
       background-color: azure;        
    }

    .fa fa-facebook{
        background-color: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: grey;
        color: white;
      }
      
      .fa-dribbble {
        background: grey;
        color: white;
      }